<div class="content">
  <link rel="stylesheet" href="/css/main.css" />
  <h2>404</h2>
  <h4>Page not found</h4>
  <p>The page you were looking for doesn't exist.</p>
  <a href="/">Back To Home</a>
  <script type="text/javascript">
    var container = document.getElementById('container'); window.onmousemove =
    function(e) { var x = - e.clientX/5, y = - e.clientY/5;
    container.style.backgroundPositionX = x + 'px';
    container.style.backgroundPositionY = y + 'px'; }
  </script>
</div>