<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>My name is Dhruv Chawla and I am a full-time student at Seneca College
        of Applied Arts and Sciences. I am 19 years old and I was born and
        raised in New Delhi, India.</p>
      <p>After graduating high school in summer 2021, I came to Canada for
        further studies. I will graduate from Seneca College in the fall of 2024
        with an Advanced Diploma in Computer Programming and Analysis. I plan on
        obtaining a bachelors degree in Computer Science from the University of
        British Columbia.</p>
      <p>I have always had a strong interest in computers since I was a child. I
        am excited to learn more about the different careers in computers and
        programming as I continue on with my education.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>More to follow soon. Don’t be too impatient though.</p>
  </aside>
</div>